
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <!--About Our Website-->
    <section class="py-2">
        <h3 class="font-weight-bold text-uppercase text-center text-monospace">About Us</h3>
        <p class="text-monospace pt-1">
            The website works as a combinational site for users namely donators, who are interested to donate their unnecessary yet good clothes and collectors, who want to buy quality clothing at an affordable price. People can easily get rid of their used or unused extra clothes only by posting about the details of product on the site. In addition, users can buy from a variety of collection in four different categories called men, women, kids and others. A fast and free delivery service is available for users after confirmation of any shopping order from the site. However, products of same category are of same price to make it more affordable.
        </p>
    </section>
    <!--How It Works-->
    <section class="py-5 bg-transparent">
        <h3 class="font-weight-bold text-uppercase text-center text-monospace col-12 pb-4">How It Works</h3>
        <div class="container">
            <div class="row justify-content-center">
                <!--Step-1-->
                <div class="col-sm-6 col-xl-2">
                    <div class="card mb-4 shadow-sm rounded-circle border border-dark">
                        <div class="embed-responsive embed-responsive-4by3 rounded-circle">
                            <img class="bd-placeholder-img card-img-bottom embed-responsive-item" src="~/images/Home/1.donating.jpg" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center">Donate Clothes</h6>
                        </div>
                    </div>
                </div>
                <!--Step-2-->
                <div class="col-sm-6 col-xl-2">
                    <div class="card mb-4 shadow-sm rounded-circle border border-dark">
                        <div class="embed-responsive embed-responsive-4by3 rounded-circle">
                            <img class="bd-placeholder-img card-img-bottom embed-responsive-item" src="~/images/Home/2.pickup.jpg" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center">Pickup Service</h6>
                        </div>
                    </div>
                </div>
                <!--Step-3-->
                <div class="col-sm-6 col-xl-2">
                    <div class="card mb-4 shadow-sm rounded-circle border border-dark">
                        <div class="embed-responsive embed-responsive-4by3 rounded-circle">
                            <img class="bd-placeholder-img card-img-bottom embed-responsive-item" src="~/images/Home/3.Quality.jpg" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center">Quality Check</h6>
                        </div>
                    </div>
                </div>
                <!--Step-4-->
                <div class="col-sm-6 col-xl-2">
                    <div class="card mb-4 shadow-sm rounded-circle border border-dark">
                        <div class="embed-responsive embed-responsive-4by3 rounded-circle">
                            <img class="bd-placeholder-img card-img-bottom embed-responsive-item" src="~/images/Home/4.shopping.jpg" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center">Buy Clothings</h6>
                        </div>
                    </div>
                </div>
                <!--Step-5-->
                <div class="col-sm-6 col-xl-2">
                    <div class="card mb-4 shadow-sm rounded-circle border border-dark">
                        <div class="embed-responsive embed-responsive-4by3 rounded-circle">
                            <img class="bd-placeholder-img card-img-bottom embed-responsive-item" src="~/images/Home/5.delivery.jpg" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-center">Free Delivery</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team Members-->
    <h3 class="font-weight-bold text-uppercase text-center text-monospace col-12">Our Team</h3>
    <section class="row text-center">
        <!--Member-Ishita-->
        <div class="col-md-4 my-5 mx-auto">
            <div class="transparent rounded shadow py-5">
                <img src="~/images/Team/team_ishita.jpg" alt="member1" class="img-thumbnail">
                <h5 class="mb-0">Sanjida Akter Ishita</h5><span class="small text-muted">170204089@aust.edu<br />FOUNDER <br />CSE, AUST</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/sanjida.ishita" target="_blank" class="btn btn-primary btn-block btn-facebook rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com" target="_blank" class="btn btn-primary btn-block btn-twitter rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/sanjida_ishita" target="_blank" class="btn btn-danger btn-block btn-instagram rounded-circle">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com" target="_blank" class="btn btn-info btn-block rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Member-Anchol-->
        <div class="col-md-4 my-5 mx-auto">
            <div class="transparent rounded shadow py-5">
                <img src="~/images/Team/team_anchol.jpg" alt="member2" class="img-thumbnail">
                <h5 class="mb-0">Tasmia Ahmed Anchol</h5><span class="small text-muted">170204092@aust.edu<br />FOUNDER <br />CSE, AUST</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/tasmiaahmed.anchol.1" target="_blank" class="btn btn-primary btn-block btn-facebook rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com" target="_blank" class="btn btn-primary btn-block btn-twitter rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/tasmia_anchol" target="_blank" class="btn btn-danger btn-block btn-instagram rounded-circle">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com" target="_blank" class="btn btn-info btn-block rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--Member-Euna-->
        <div class="col-md-4 my-5 mx-auto">
            <div class="transparent rounded shadow py-5">
                <img src="~/images/Team/team_euna.jpg" alt="member3" class="img-thumbnail">
                <h5 class="mb-0">Nafisa Khan Euna</h5><span class="small text-muted">170204103@aust.edu<br />FOUNDER <br />CSE, AUST</span>
                <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/euna.khan.0" target="_blank" class="btn btn-primary btn-block btn-facebook rounded-circle">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.twitter.com" target="_blank" class="btn btn-primary btn-block btn-twitter rounded-circle">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/_euna_khan_" target="_blank" class="btn btn-danger btn-block btn-instagram rounded-circle">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/nafisakhan0" target="_blank" class="btn btn-info btn-block rounded-circle">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>


