@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Areas/Identity/Pages/_ThriftyLayout.cshtml";
}

<div class="container specialCard">
    <h1 class="font-weight-bold text-uppercase text-center">@ViewData["Title"]</h1>
    <form id="account" method="post">
        <h4 class="text-center my-4">Login to your account</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mx-5">
            <!--Email-->
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <!--Password-->
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <!--Remember Me Checkbox-->
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto mb-4">
                <!--Login Button-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success font-weight-bold">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
