@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_ThriftyLayout.cshtml";
}

<div class="container specialCard">
    <h1 class="font-weight-bold text-uppercase text-center">@ViewData["Title"]</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h3 class="font-weight-bold text-center my-4">Create new account</h3>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mx-4">
            <div class="col-md-12">
                <div class="form-group btn-group btn-group-toggle mb-5 col-12 mx-auto px-5" data-toggle="buttons">
                    <!--do not put inputs inside <div>-->
                    <label class="btn btn-outline-info font-weight-bold">
                        <input type="radio" asp-for="Input.UserType" value="Admin" class="form-control" />Admin
                    </label>
                    <label class="btn btn-outline-info font-weight-bold">
                        <input type="radio" asp-for="Input.UserType" value="User" class="form-control" />User                        <br />
                    </label>
                </div>
            </div>
            <!--First Name-->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
            </div>
            <!--Last Name-->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
            <!--Email-->
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <!--Address-->
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Input.Address"></label>
                    <input asp-for="Input.Address" class="form-control" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
            </div>
            <!--Password-->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>
            <!--Confirm Password-->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <!--Register Button-->
            <div class="col-md-3 mx-auto mb-4">
                <button type="submit" class="btn btn-success mt-4 font-weight-bold">Register</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
   <partial name="_ValidationScriptsPartial" />
}
